<header class="bg-zinc-950 z-10">
  <nav class="container font-medium" aria-label="Top">
    <div
      class="flex w-full items-center justify-between border-b border-zinc-200 py-6 lg:border-none"
    >
      <div class="flex-none">
          <a href="/" class="flex justify-between items-center">
            <img src="/logo.png" class="h-20 w-auto"/>
            <span class="flex-1 px-5 text-xl">Dhrupodi 94</span>
          </a>
      </div>
      <div class="ml-10 hidden space-x-8 lg:block">
        {% for item in navigation %}
          <a
            href="{{ item.route }}"
            class="{{
              page.url == item.route ? 'font-black' : 'font-normal'
            }} text-base hover:text-rose-500"
          >
            {{ item.name }}
          </a>
        {% endfor %}
      </div>
    </div>
  </nav>
</header>
