<header class="bg-zinc-950 z-10">
  <nav class="container font-medium max-w-full px-20" aria-label="Top">
    <div
      class="flex w-full items-center justify-between py-6 lg:border-none"
    >
      <div class="flex-none">
          <a href="/" class="flex justify-between items-center">
            <img src="/logo.png" class="h-20 w-auto"/>
            <span class="flex-1 px-5 text-xl">Dhrupodi 94</span>
          </a>
      </div>
      <div class="ml-10 hidden space-x-8 lg:block">
        {% for item in navigation %}
          <a
            href="{{ item.route }}"
            class="{{
              ((page.url == '/' and item.route == '/') or (item.route != '/' and item.route in page.url)) ? 'font-semibold' : 'font-normal'
            }} text-base hover:text-rose-500 transition-colors"
          >
            {{ item.name }}
          </a>
        {% endfor %}
      </div>
      <div class="ml-10 lg:hidden space-x-8 md:block">
        <!-- Placeholder for Menu Icon -->
        Menu 
      </div>
    </div>
  </nav>
</header>
