<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/logo.png" />
  {% include 'scripts.twig' %}
  <title>{{ title }} | Dhrupodi 94</title>
</head>

<body class="{{ env.devMode ? 'debug-screens' }} relative flex flex-col h-screen bg-zinc-800 text-slate-200  font-roboto">
  {% include 'header.twig' %}
  {% block body %}
    {{ content|raw }}
  {% endblock %}
</body>

</html>
