{% extends 'layout.twig' %}

{% block body %}
  <div class="container markdown max-w-none flex-1 h-full w-full p-0 text-inherit">
      <div class="bg-[url('{{img}}')] bg-cover bg-fixed bg-center flex items-center justify-center h-full">
        <h1 class="text-center {{title_color == 'dark' ? 'text-stone-800' : 'text-stone-100' }} font-bold text-9xl align-middle">{{title}}</h1>
      </div>
      <div class="p-10 h-screen">
        {{ content|raw }}
      </div>
  </div>
{% endblock %}
