---
title: 'Gallery'
---

{% extends "../_includes/layout.twig" %}

{% block body %}
<main class="container py-16 flex-1 h-full max-w-none text-inherit">
  <h1 class="text-center font-bold text-5xl align-middle pb-8">{{title}}</h1>
  <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-5 grid-cols-1 items-center justify-center">
    {% for image in collections.galleryImages %}
      <img src="{{ image }}" alt="{{ image }}" class="min-w-70">
    {% endfor %}
  </div>
</main>
{% endblock %}
