---
title: 'Home'
---

{% extends "_includes/layout.twig" %}

{% block body %}
  <main class="container mx-0 p-0 min-w-screen flex-1 text-inherit">
    <div class="bg-[url(/public/gallery/images/buet_cafe_-1.jpg)] bg-cover bg-center bg-fixed h-full w-full flex items-center justify-center z-0">
      <h1 class="text-center font-bold text-5xl align-middle ">BUET '94 batch Always friends since 1994</h1>
    </div>
  </main>
{% endblock %}
