---
title: 'Home'
---

{% extends "_includes/layout.twig" %}

{% block body %}
  <main class="container py-16">
    <div class="prose max-w-none text-gray-100">
      <h1 class="text-inherit text-center align-middle"></h1>
    </div>
  </main>
{% endblock %}
